[project]
	description = Testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hossain Mohammad Shamim (startanim)
[access "refs/for/refs/*"]
	read = group user/Hossain Mohammad Shamim (startanim)
	push = group user/Hossain Mohammad Shamim (startanim)
	label-Code-Review = -2..+2 group user/Hossain Mohammad Shamim (startanim)
	label-Verified = -1..+1 group user/Hossain Mohammad Shamim (startanim)
	rebase = group user/Hossain Mohammad Shamim (startanim)
	removeReviewer = group user/Hossain Mohammad Shamim (startanim)
	submit = group user/Hossain Mohammad Shamim (startanim)
[access "refs/heads/*"]
	read = group user/Hossain Mohammad Shamim (startanim)
	create = group user/Hossain Mohammad Shamim (startanim)
	push = +force group user/Hossain Mohammad Shamim (startanim)
	pushMerge = group user/Hossain Mohammad Shamim (startanim)
[access "refs/tags/*"]
	push = +force group user/Hossain Mohammad Shamim (startanim)
	pushTag = group user/Hossain Mohammad Shamim (startanim)
	pushSignedTag = group user/Hossain Mohammad Shamim (startanim)
